
header{
	height:48vh;
	background:#040531;
}
h1{
	font-size:40px;
}
main{
	box-shadow: 0 4px 10px -3px #829494;
}
.center{
	margin:0 auto;
	display:block;
}
.title{
color:#173361;
}
.bg-gray{
	background:#F8F8F8;
}
.padding-15{
	padding-right:15px;
}
.pointer{
	cursor:pointer;
}
.disable{
	display:none;
}
.hoverClick path#passo-01:hover,.hoverClick path#passo-02:hover, .hoverClick path#passo-03:hover, .hoverClick path#passo-04:hover, .hoverClick path#passo-05:hover {
	stroke: #040531;
    stroke-width: 2;
}
.links{
	color:#829494;
	font-size:12px;
}
.dark-blue-color{
	color:#173361;
}
.font-22{
	font-size:22px;
}
#logo-barramento{
	height:100%;
}
#dray-soma h1:before{
	content: "";
    width: 40px;
    height: 4px;
    background: #38cced;
    border: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}
.tab-content{
	background:#F8F8F8;
}
.tabs-active{
	background: #F8F8F8 !important;
    border: 0 !important;
    border-top: 3px solid #38CCED !important;
}
.tab-disable{
	background:#e7e6e6 !important;
}
.tabs h3{
	font-size:40px;
}
.espacamento{
	margin-right:3px;
	margin-left:3px;
}
.box{
	background: #fff;
    border-radius: 10px;
	width: 100%;
	padding:15px;
	cursor:pointer;
	border: 2px solid transparent;
}
.box:hover{	
    border-color: #173361;
    transform: scale(1.05);
}
.nav-item{
flex: 1 1 auto;
text-align: center;
}
.nav-tabs{
	border:none;
}
.nav-link{
	width:100%;
	color: #495057;
}
.nav-tabs .nav-item{
	border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.leia-mais{
	background-color: transparent;
    border-color: #173361;
    color: #173361;
}
.nav-link:hover{
background:rgba(130,148,148,.25);
color:#495057;
}
